.formulaire{
    border:1px solid black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px;
    margin: 20px;
}
nav {
    background-color: skyblue;

}