.formulaire{
    border:1px solid black;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px;
    margin: 20px;
    background-color: gray;
}
.navbar {background-color: #e3f2fd;}

.App{

    background-color: brown;
}
.paragraphe-intro{

   font-size: xx-large;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, 'sans-serif';
    position:center;
}